@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check out our <a asp-page="./Events">events</a>!</p>
    <a class="btn" asp-page="./Events">Register</a>
    <a class="btn" asp-page="./Events">Login</a>
</div>
